<mat-card>
  <div>
    <ng-container *ngIf="user$ | async as user">
      <span>
        <h2>Welcome, {{user.username}} !</h2>
      </span>
      <ng-container *ngIf="isJoined$ | async as isJoined">
        <ng-container *ngIf="isJoined.data">
          <ng-container *ngIf="gameDetails$ | async as gameDetails">
            <app-game-details
              [gameDetails]="gameDetails"
              [user]="user"
              (submited)="onSubmitted($event)"
            >
            </app-game-details>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!isJoined.data">
          <app-game-join (joinGame)="onGameJoin($event)"> </app-game-join
        ></ng-container>
      </ng-container>
    </ng-container>
  </div>
</mat-card>
