<div>
  <h2>Admin panel.</h2>

  <div>
    <p>Create game</p>
    <form [formGroup]="createGameForm">
      <mat-form-field>
        <mat-label>Title </mat-label>
        <input matInput formControlName="title" id="title" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onCreateGame()">
        Create game
      </button>
    </form>
  </div>

  <mat-divider></mat-divider>
  <div>
    <div>
      <ng-container *ngIf="games$ | async as games">
        <div>
          <app-game-list [games]="games" (gameClick)="onGameClicked($event)"> </app-game-list>
        </div>
      </ng-container>
    </div>
    <div>
      <ng-container *ngIf="gameDetails$ | async as gameDetails">
        <div>
          <app-game-details [gameDetails]="gameDetails"> </app-game-details>
        </div>
      </ng-container>
    </div>
  </div>
</div>
